#search-navbar {
    color: white;
    background-color: transparent;
    max-width: 60%;
    margin: auto;
}

::-webkit-input-placeholder {
    color: white;
}


/*
::placeholder{
    color:rgb(255, 255, 255);
} */

#search-model {
    color: white;
}

#buttons {
    padding-right: 2rem;
}

#navbar-background {
    background-color: transparent;
    padding-top: 20px;
}

#image-logo {
    max-width: 50%;
    height: 50%;
}

#search-button:hover {
    background-color: rgb(161, 161, 161);
}

#sign-up-button {
    background-color: #A459FF;
    color: white;
    font-weight: bold;
}

#sign-up-button:hover {
    background-color: #8b2bff;
    color: white;
    font-weight: bold;
}

#sign-in-button {
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#sign-in-button:hover {
    color: #8b2bff;
}